/*Navbar background*/
.background{
	background-image: url("../images/start.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  min-width: 100%;
}

/**Content wrapper*/
.content{
  margin-left: 15%;
  margin-top: 6rem;
}

/**Who am I paragraph*/
#profilePic{
  height: 15rem;
  border-radius: 100%;
  float: left;
  margin-right: 2rem;
}
.whoAmI{
  width: 55rem;
}

/*Skills paragraph*/
.skillsPara{
  margin-top: 4rem;
  min-width: 100%;
  float: left;
}
.skills{
  display: block;
  margin-top: 2rem;
}
.skills div{
  width: 15%;
  float: left;
}
.skills div+div{
  margin-left: 4rem;
}
.skills ul{
list-style-type:circle;
}
.skills p{
  border-bottom:#16a6b6 solid 0.1rem ;
  margin-bottom: 2rem;
}

/*Hobby's paragraph*/
.hobby{
  float: left;
  margin-top: 4rem;
}
.hobby p:last-of-type{
  width: 75%;
}
.hobby img{
  width: 37%;
  margin-top: 2rem;
}

/*Footer*/
footer{
  margin-top: 4rem;
  text-align: center;
  float: left;
  background-image: url("../images/footer.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  min-width: 100%;
}
footer div{
  line-height: 10rem;
}

/*media query's*/
@media (max-width: 900px){
  .skills div{
    width: 50%;
    float: none;
  }
  .skills div+div{
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
@media (max-width: 675px){
  .whoAmI{
    text-align: center;
    width: 85%;
  }
  .whoAmI p:last-of-type{
    text-align: left;
  }
  #profilePic{
    float: none;
  }
  .nav ul{
    margin-left: 28%;
    margin-right: 9%;
  }
}
