/*Navbar background*/
.background{
	background-image: url("../images/start.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  min-width: 100%;
}

.nav{
	width: auto;
  margin-right: 3.7%;
  padding-top: 3rem;
}

/**Content wrapper*/
.content{
  margin-left: 15%;
  margin-top: 6rem;
	width: 70%;
}

/**Who am I paragraph*/
#profilePic{
  height: 15rem;
  border-radius: 100%;
  float: left;
  margin-right: 2rem;
}
.whoAmI{
  width: 100%;
}

/*Skills paragraph*/
.skillsPara{
  margin-top: 4rem;
  width: 100%;
  float: left;
}
.skills{
  display: block;
  margin-top: 2rem;
}
.skills div{
  width: 15%;
  float: left;
}
.skills div+div{
  margin-left: 4rem;
}
.skills ul{
list-style-type:circle;
margin-left: 1.5rem;
}
.skills p{
  border-bottom:#16a6b6 solid 0.1rem ;
  margin-bottom: 2rem;
}

/*Hobby's paragraph*/
.hobby{
  float: left;
  margin-top: 4rem;
}
.hobby p:last-of-type{
  width: 100%;
}
.hobby img{
  width: 49%;
  margin-top: 2rem;
}

/*Footer*/
footer{
  margin-top: 4rem;
  text-align: center;
  float: left;
  background-image: url("../images/footer.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  min-width: 100%;
}
footer div{
  line-height: 10rem;
}

/*media query's*/
@media (max-width: 900px){
  .skills div{
    width: 50%;
    float: none;
  }
  .skills div+div{
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
@media (max-width: 675px){
	/*Who am I*/
  .whoAmI{
    text-align: center;
    width: 100%;
  }
  .whoAmI p:last-of-type{
    text-align: left;
  }
  #profilePic{
    float: none;
  }

	/*skills paragraph*/
	.skillsPara .title{
		min-width: 110%;
	}
	.skillsPara div{
		width: 100%;
	}

	/*hobby paragraph*/
	.hobby img{
	  width: 100%;
	}

	/*navigation*/
	.nav{
		width: auto;
		margin-right: 20%
  }
}
