/*Google maps*/
img {
 height: 40rem;
 width: 50%;
 float: left;
 margin-right: 4rem;
 margin-top: 1rem;
}

/*Contact*/
.contact{
  float: left;
  width: 40%;
}
.contact *{
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  line-height: 2rem;
  margin-bottom:1rem;
  border: none;
}
.submit{
	margin-top: 2rem;
}
.submit:hover{
	color: white;
	background-color: #16a6b6;
}

@media (max-width: 675px){
  #map{
		width: 100%;
	}
	.contact{
	  width: 100%;
	}
}
