html {
	font-size: 0.625em;
}
body{
	font-size: 1.5rem;
  background-color: #F8F8F8;
	font-family: "courier";
}
a{
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

/*Fix margins and paddings*/
*{
  margin: 0;
  padding: 0;
}

/**navbar*/
.nav ul{
	float: right;
	text-decoration: none;
}
.nav li{
	display: inline-block;
}
.nav li+li{
  margin-left: 1rem;
}
.nav a{
	float: left;
  font-size: 1.5rem;
  padding: 0.7rem;
  color: white;
  background-color: black;
}
.nav a:hover{
  background-color: #ED7700;
}
.nav .active{
	background-color: #ED7700;
}

/**Content*/
.title{
  font-size: 3rem;
}

h1{
	position: absolute !important;
	visibility: hidden !important;
	z-index: -1 !important;
}
h2{
	font-size: 3rem;
	font-weight: normal;
	text-decoration: none;
}
