html {
	font-size: 0.625em;
}
body{
	font-size: 1.5rem;
  background-color: #F8F8F8;
	font-family: "courier";
}
a{
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

/*Fix margins and paddings*/
*{
  margin: 0;
  padding: 0;
}

/**navbar*/
.nav{
	width: auto;
  margin-right: 5%;
  padding-top: 3rem;
}
.nav ul{
	float: right;
	text-decoration: none;
}
.nav li{
	display: inline-block;
}
.nav li+li{
  margin-left: 1rem;
}
.nav a{
	float: left;
  font-size: 1.5rem;
  padding: 0.7rem;
  color: white;
  background-color: black;
}
.nav a:hover{
  background-color: #ED7700;
}
.nav .active{
	background-color: #ED7700;
}

/**Content*/
.title{
	font-size: 3rem;
	font-weight: normal;
	text-decoration: none;
}

.error{
 color: red;
 line-height: 0rem;
 font-size: 1.3rem;
 margin-bottom: -0.4rem;
}
.notification{
	width: 20%;
	padding: 1rem 2rem 1rem 2rem;
	background-color: #ED7700;
	margin: auto;
	margin-top: -3.75rem;
}

.hidden{
	position: absolute !important;
	visibility: hidden !important;
	z-index: -1 !important;
}

@media (max-width: 675px){
	/*navigation*/
	.nav{
		width:30.209rem;
		display: block;
	  margin: auto;
  }
}

@media (max-width: 400px){
	/*navigation*/
	.nav{
		width:31rem;
		display: block;
	  margin: auto;
  }
}
