body{
  background-image: url("../images/railroad.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10rem;;
  max-width: 100%;
}

.nav{
  padding-top: 0;
}

.slogan{
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  line-height: 1rem;
  text-align: center;
}
#name{
  margin-bottom: 4rem;
  font-size: 5rem;
}

@media (max-width: 960px){
  #name{
    line-height: 5rem;
  }
}
