body{
  background-image: url("../images/start.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10rem;;
  max-width: 100%;
}

/**navbar*/
.nav{
	width: auto;
  margin-right: 5%;
  margin-top: 3rem;
}

.slogan{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  line-height: 1rem;
  text-align: center;
}
#name{
  margin-bottom: 4rem;
  font-size: 5rem;
}

@media (max-width: 960px){
  #name{
    line-height: 5rem;
  }
}

@media (max-width: 675px){
  .nav{
		width: auto;
		margin-right: 18%;
  }
}
